/*  your css code here. If applicable */
table{
    background-color: yellow;
    border: 1px outset rgb(128, 128, 128);
    border: 1px solid rgb(128, 128, 128);
}
th , td {
    border: 1px inset grey;
    border: 1px solid rgb(128, 128, 128);
}